---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$sans-serif : -apple-system, "Nunito Sans", ".SFNSText-Regular", "San Francisco", "Droid Sans", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace  : Consolas, Monaco, "Lucida Console", monospace;

$type-size-6 : 0.85em;
$type-size-7 : 0.8em;
$type-size-8 : 0.75em;

$text-color : #383838;

@import "minimal-mistakes";

html {
  /* apply a natural box layout model to all elements */
  box-sizing: border-box;
  background-color: $background-color;
  font-size: 17px; // default: 16px

  @include breakpoint($medium) {
    font-size: 18px; // default: 18px
  }

  @include breakpoint($large) {
    font-size: 17px; // default: 20px
  }

  @include breakpoint($x-large) {
    font-size: 16px; // default: 22px
  }
}

.page__content p
{
  line-height: 1.6em;
  font-weight: 400;
}

.sidebar li
{
  line-height: 1.9em;
}

.toc
{
  @include breakpoint($x-large) {
    position: fixed;
    top: 100px;
  }
}
